@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-Regular.ttf');
  font-weight: normal;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #f7f7f9;
  font-family: 'Poppins', sans-serif;
}

.appbar {
  width: 375px;
  background: #fff;
}

.nav {
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 7px;
  padding-left: 15px;
}

.navicon_container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.navicon {
  padding-top: 18px;
  padding-right: 34px;
  cursor: pointer;
}

.navimage image {
  width: 18px;
  height: 12px;
  top: 6px;
  left: 3px;
}

.headline {
  background-image: url("images/header-shapes_mobile.png");
  background-repeat: no-repeat;
  height: 610.15px;
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  background-color: white;
  border-bottom-left-radius: 85px;
  background-size: 462px 587.15px;
  background-position-x: 99%;
}

.title_container {
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 50px;
  width: 375px;
  color: #172b4d;
  margin-top: 100px;
}

.headline .title_container > .title {
  padding-right: 31px;
  padding-left: 25px;
}

.title > h1 {
  margin-bottom: 1px;
  color: #172b4d;
  font-size: 39px;
}

.description_container {
  width: 375px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.description {
  color: #344563;
  font-size: 16px;
}

.dialog_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 375px;
  color: #3550cf;
}

.dialog {
  font-size: 13px;
}

.dialog > h3 {
  margin-bottom: 1px;
  font-weight: 500;
  margin-top: 10px;
}

.social_container {
  width: 375px;
}

.social_div {
  display: flex;
  justify-content: flex-start;
}

.social_container > ul > li {
  list-style: none;
}

.mr15 {
  margin-right: 15px;
}

.pd25 {
  padding-left: 25px;
}

.title h2 {
  margin-bottom: 1px;
  font-size: 39px;
  color: #172b4d;
}

.work_section {
  display: grid;
  padding-top: 114px;
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
  gap: 88px;
  grid-template-areas:
    'work1'
    'work2'
    'work3'
    'work4';
  justify-content: center;
  margin-bottom: unset;
  padding-bottom: 114px;
}

.work1 {
  grid-area: work1;
}

.work2 {
  grid-area: work2;
}

.work3 {
  grid-area: work3;
}

.work4 {
  grid-area: work4;
}

.work1,
.work2,
.work3,
.work4 {
  display: grid;
  border-radius: 16px;
  background-color: white;
  border: 1px solid lightgray;
  padding: 15px;
  max-width: 400px;
}

.lets_connect {
  color: #0034cd;
  font-size: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.get_resume {
  margin-bottom: 30px;
}

.work_title {
  text-align: left;
  font-size: 20px;
}

.work_title > h2 {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-right: 21px;
  line-height: 40px;
  color: #172b4d;
}

.work_section ul {
  display: flex;
  justify-content: flex-start;
  padding-left: 5px;
}

.title_detail ul li a {
  color: #4d596a;
}

.title_detail ul li:first-child a {
  color: #2e4662;
}

.work_section ul li {
  list-style: none;
  margin-right: 15px;
  font-size: 13px;
}

.work_description {
  text-align: left;
  color: #344563;
  padding-right: 39px;
}

.description_detail ul li {
  font-size: 12px;
  background-color: #eaebfe;
  padding: 4px 12px;
  border-radius: 8px;
}

.see_project {
  display: flex;
  justify-content: flex-start;
  margin-top: 25px;
}

.color396d {
  color: #2648a0;
}

.about_myself {
  padding-top: 75px;
  padding-bottom: 155px;
  background-color: white;
  border-top-right-radius: 85px;
}

.about_myself_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 7%;
  padding-right: 7%;
}

.lsNone {
  list-style: none;
}

.social_div2 {
  padding-left: 1px;
  display: flex;
}

.language_title {
  display: flex;
  justify-content: space-between;
}

.frameworks {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 5px;
}

.pdr25 {
  padding-right: 25px;
}

.skills {
  display: flex;
  justify-content: space-between;
  padding-top: 12px;
}

.language_list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 12px;
  padding: unset;
}

.about_myself .language_title .title,
.about_myself .framework_container .title,
.about_myself .skill_container .title {
  font-size: 20px;
}

.language_title > .arrow > img {
  padding-bottom: 4px;
}

.about_myself .language_list > li {
  list-style: none;
  padding: 8px 10px;
  background-color: #f7f7f9;
  padding-bottom: 1px;
  border-radius: 8px;
}

.separator {
  margin-left: 5px;
}

.wd100 {
  width: 100%;
}

.tdnone {
  text-decoration: none;
}

.pd7 {
  padding-left: 7px;
}

.mt30 {
  margin-top: 30px;
}

.btn:enabled {
  font-size: 19px;
  text-align: start;
  padding: 12px 12px;
  border: 1px solid #6070ff;
  width: 124px;
  border-radius: 8px;
  margin-bottom: 15px;
  color: #396df2;
  background: white;
  cursor: pointer;
}

.btn:hover {
  color: white;
  background-color: #6070ff;
}

.btn:active {
  color: white;
  background-color: #0034cd;
}

.btn:disabled {
  color: #5a6c83;
  border: none;
}

.gmrbtn {
  width: 161px !important;
  margin-bottom: 0.1px !important;
}

.dflex {
  display: flex;
  justify-content: start;
}

.p13m15 {
  padding-top: 13px;
  margin-left: 15px;
  color: #253858;
}

/* contact mobile started form here */
.contact_section {
  background-color: white;
}

.contact_container {
  height: 797px;
  background-image: url("images/contact_background.png");
  background-color: #6070ff;
  border-top-left-radius: 85px;
  background-size: 265px 724.17px;
  background-position-y: 22%;
  background-position-x: 97%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

.contact_title_description {
  padding-top: 68px;
}

.contact_title {
  font-size: 27px;
  color: white;
  text-align: center;
}

.contact_description {
  color: white;
  text-align: center;
  font-size: 20px;
  padding-left: 7%;
  padding-right: 7%;
}

.about_myself .language_framework {
  padding-left: unset;
  width: 100%;
  max-width: 400px;
}

.m-5 {
  margin-bottom: -5px;
}

.uline {
  padding: 10px 120px;
  padding-bottom: unset;
}

.uline > div {
  height: 5px;
  background: black;
  border-radius: 10px;
  max-width: 170px;
  margin: auto;
}

input,
textarea {
  height: 48px;
  border-radius: 10px;
  margin-bottom: 17px;
  border: none;
  padding-left: 20px;
  width: 300px;
}

textarea {
  padding-top: 20px;
}

.gintouch {
  text-align: left;
  width: 318px;
  margin: auto;
}

.height170 {
  height: 148px;
}

.contact_section form > ul {
  margin-bottom: 15px;
  text-align: center;
  padding-left: unset;
  margin-top: 42px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pdl27 {
  padding-left: 27px;
}

.widht136 {
  width: 143px !important;
  padding: 14px 16px !important;
}

::placeholder {
  color: #172b4d;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
}

@media screen and (min-width: 561px) {
  .uline {
    margin-top: 55px;
  }
}

.desktop_show {
  display: none !important;
}

.about_myself .myself_resume {
  max-width: 400px;
}

.dflx {
  display: flex;
}

.dflx_popup {
  display: flex !important;
}

.hamburger_afterClick {
  background: #6070f8;
  height: 100vh;
  position: fixed;
  width: 100%;
  mix-blend-mode: multiply;
  z-index: 1;
}

#cancel_icon {
  display: none;
}

.dblock {
  display: block !important;
}

.dnone {
  display: none !important;
}

.blur {
  filter: blur(6px);
}

.detail_popup_additional_blur {
  mix-blend-mode: multiply;
  background-color: #c1c7d0;
  filter: blur(6px);
}

.cancel_icon_container {
  display: flex;
  justify-content: end;
  padding-right: 50px;
}

.menu_container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding: unset;
  font-size: 32px;
  color: white;
  line-height: 60px;
  padding-left: 30px;
  font-weight: 600;
}

.detail_popup_container {
  flex-direction: column;
  position: fixed;
  top: 16px;
  bottom: 16px;
  left: 16px;
  right: 16px;
  background-color: white;
  border-radius: 16px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 16px;
  padding-bottom: 20px;
  word-wrap: break-word;
  overflow: scroll;
  max-height: 713px;
}

.detail_popup_container::-webkit-scrollbar {
  display: none;
}

#popup_cancel {
  display: flex;
  justify-content: end;
  color: gray;
}

#detail_popup_window .heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#detail_popup_window .description ul {
  display: flex;
  justify-content: flex-start;
  padding-left: 5px;
  gap: 10px;
  margin-top: 5px;
}

#detail_popup_window .description ul li a {
  color: #4d596a;
  font-size: 13px;
}

#detail_popup_window .project_tech ul {
  display: flex;
  justify-content: flex-start;
  padding-left: unset;
  gap: 10px;
  padding-right: 25px;
  margin-top: 10px;
}

#detail_popup_window .project_tech ul li {
  font-size: 12px;
  background-color: #eaebfe;
  padding: 4px 12px;
  border-radius: 8px;
}

#detail_popup_window .see_live_source_btn {
  display: flex;
  padding-top: 20px;
  gap: 10px;
  justify-content: center;
}

#detail_popup_window .see_live_source_btn .see_source img {
  height: 24px;
}

.detail_popup_btn {
  background: white;
  border: 1px solid #6070ff;
  border-radius: 8px;
  gap: 10px;
  align-items: center;
  padding: 6px 20px 6px 20px;
}

.detail_popup_btn:enabled {
  color: #396df2;
  background: white;
  cursor: pointer;
}

.detail_popup_btn:hover {
  color: white;
  background-color: #6070ff;
}

.detail_popup_btn:active {
  color: white;
  background-color: #0034cd;
}

.detail_popup_btn:disabled {
  color: #5a6c83;
  border: none;
}

.mobilePopup_show {
  display: flex !important;
}

.desktopPopup_show {
  display: none !important;
}

.pdt-50 {
  padding-top: 50px;
}

.flxwrp {
  flex-wrap: wrap;
}

.popup_seperator {
  height: 1px;
  width: 100%;
  background: #e0e1e6;
}

.project_tech_container {
  display: flex;
  flex-direction: column;
  width: 26%;
  min-width: 290px;
}

.project_tech {
  padding-bottom: 5px;
}

.tech_hide {
  display: none;
}

.flex_column {
  flex-direction: column;
}

.margin_unset {
  margin: unset;
}

input.invalid {
  border-color: #900;
  background-color: #fdd;
}

input:focus.invalid {
  outline: none;
}

input.valid {
  border: 1px solid green;
  background: lightblue;
}

input:focus.valid {
  outline: none;
}

.error {
  font-size: 80%;
  color: white;
  background-color: #900;
  border-radius: 0 0 5px 5px;
  box-sizing: border-box;
  margin-bottom: 15px;
  padding: 10px;
  width: 320px;
}

.flxclm {
  display: flex;
  flex-direction: column;
}

.dnonenim {
  display: none;
}

/* desktop v1 started from here */
@media screen and (min-width: 800px) {
  .headline {
    background-image: url('images/desktop_Header_background.png');
    background-size: 94% 721.46px;
    height: 846px;
    background-position-x: 34.6px;
    background-position-y: 40px;
  }

  .title_description_container {
    padding-left: 18%;
    padding-top: 16%;
    padding-right: 15%;
  }

  .title_container {
    margin-top: 1px;
    width: auto;
  }

  .description_container {
    width: auto;
    padding-right: 111px;
  }

  .dialog_container,
  .social_container {
    padding-left: 18%;
  }

  .work1,
  .work3 {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'work_image work_content';
    padding: unset;
    max-width: unset;
  }

  .work2,
  .work4 {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'work_content work_image';
    padding: unset;
    max-width: unset;
  }

  .work_image {
    grid-area: work_image;
  }

  .work_content {
    grid-area: work_content;
  }

  .desktop_show {
    display: flex !important;
  }

  .mobile_show {
    display: none !important;
  }

  .work_section {
    padding-left: 3%;
    padding-right: 3%;
    gap: 142px;
    padding-top: 142px;
    margin-bottom: unset;
    padding-bottom: 142px;
  }

  .width100 {
    width: 100%;
  }

  .height100 {
    height: 100%;
  }

  .pr20 {
    padding-right: 20px;
  }

  .pl20 {
    padding-left: 20px;
  }

  .pr0 {
    padding-right: unset;
  }

  .work_section > .work2 .work_content,
  .work_section > .work4 .work_content {
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 10px;
  }

  .work_section > .work1 .work_content,
  .work_section > .work3 .work_content {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }

  .work_section > .work1 > .work_content > .work_title,
  .work_section > .work3 > .work_content > .work_title {
    padding-top: 8px;
  }

  .dflexim {
    display: flex;
    justify-content: space-between;
  }

  header > nav {
    display: flex;
    padding-right: 105px;
  }

  nav h4 {
    font-weight: 500;
    color: #172b4d;
  }

  .mr20 {
    margin-right: 30px;
  }

  .about_myself_container {
    flex-direction: row;
    padding-left: unset;
    padding-right: unset;
  }

  .width40 {
    width: 40%;
  }

  .width60 {
    width: 60%;
    padding-top: 23px;
  }

  .language_list {
    flex-direction: row;
    padding-right: unset;
  }

  .about_myself .language_list > li {
    flex-direction: column;
    width: 95px;
  }

  .contact_container > .contact_container_inner {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 35px;
  }

  .tcenter {
    text-align: center;
  }

  .contact_section form {
    width: 500px;
    margin: auto;
  }

  .about_myself .language_framework {
    padding-left: 40px;
    width: 60%;
    max-width: unset;
  }

  input,
  textarea {
    border-radius: unset;
  }

  .contact_description {
    padding: unset;
    width: 600px;
    margin: auto;
  }

  .contact_container {
    background-image: url("images/desktop_contact_background.png");
    background-size: 90% 718.7px;
    background-position-x: 56.34px;
    background-position-y: 75.09px;
    height: 846px;
  }

  .about_myself {
    padding-left: 3%;
    padding-right: 3%;
  }

  .img_transition:hover {
    transition: transform 0.5s ease-in-out;
    transform: translateY(-5px);
  }

  .detail_popup_container {
    left: 10%;
    right: 10%;
    top: 5%;
    bottom: 5%;
    padding-bottom: 91px;
    max-height: 1163px;
  }

  .project_detail_container {
    display: flex;
    gap: 20px;
  }

  #detail_popup_window .see_live_source_btn {
    gap: 10px;
  }

  .gintouch {
    text-align: center;
  }

  .project_detail {
    width: 70%;
  }

  .detail_popup_btn {
    width: 142px;
  }

  .mobilePopup_show {
    display: none !important;
  }

  .desktopPopup_show {
    display: flex !important;
  }

  @media screen and (min-width: 900px) {
    .work_section {
      padding-left: 7%;
      padding-right: 7%;
    }

    .about_myself {
      padding-left: 7%;
      padding-right: 7%;
    }
  }

  @media screen and (min-width: 1000px) {
    .work_section {
      padding-left: 10%;
      padding-right: 10%;
    }

    .about_myself {
      padding-left: 10%;
      padding-right: 10%;
    }
  }

  @media screen and (max-width: 824px) {
    .description_detail ul li {
      margin-right: 12px;
    }
  }

  @media screen and (max-width: 1100px) {
    .headline {
      background-size: 94% 721.46px;
      height: 759px;
      background-position-x: 29px;
      background-position-y: -8px;
    }
  }
}
