body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.appbar {
  width: 375px;
  background: #FFFFFF;
}

.nav {
  width: 375px;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 7px;
  padding-left: 15px;
}

.navicon_container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.navicon {
  padding-top: 18px;
  padding-right: 34px;
}

.navimage image {
  width: 18px;
  height: 12px;
  top: 6px;
  left: 3px;
}

.headline {
  background-image: url("images/header-shapes_mobile.png");
  width: 375px;
  height: 587.15px;
  top: 104px;
  display: flex;
  flex-direction: column;
}

.title_container {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 31px;
  line-height: 52px;
  display: flex;
  align-items: center;
  width: 375px;
  color: #172B4D;
  margin-top: 50px;
}

.title {
  padding-right: 31px;
  padding-left: 25px;
}

.description_container {
  width: 375px;
  height: 146px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.description {
  padding-right: 34px;
}

.dialog_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 375px;
  color: #768DFA;
}

.dialog {
  font-size: 12px;
}

.social_container {
  width: 375px;
}

.social_div {
  display: flex;
  justify-content: flex-start;
}

.mr15 {
  margin-right: 15px;
}

.pd25 {
  padding-left: 25px;
}

.title h2 {
  margin-bottom: 0;
}